section {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
}

img{
  max-width: 25%;
  filter: grayscale(100%);
  mix-blend-mode: darken;
}

div{
  display: flex;
  flex-wrap: wrap;
}

button{
  //background-color: rgb(91, 109, 100);
  background-color: rgb(103, 91, 109);
  margin-top: 20rem;
  align-self: center;
  font-size: 2.5rem;
  position:fixed;
  padding: 2rem;
  border-radius: 4rem 4rem;
  transition: all 0.4s;

  &:hover{
    //background-color: rgb(77, 92, 84);
    background-color: rgb(143, 127, 151);
  }
}