button{
  padding:0.2rem 0.4rem;
  margin:0.2rem;

  &:first-of-type{
    width: 6rem;
    align-self: flex-end;
  }
}

h2{
  margin:0;
  color:rgb(87, 97, 85);
  font-size: 1.5rem;

  &:last-of-type{
    margin-bottom:0.5rem;
  }
}

div{
  background-color: rgb(222, 224, 221);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  &:first-child{
    padding:2.7rem 1.2rem 1rem;
  }

  &:last-child{
    padding: 0.5rem 1.2rem 2rem;
  }

  ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;

    li{
      display: flex;
      flex-direction: row;
      color:rgb(113, 131, 109);

      label{
        order:1;
      }

      input{
        order:0;
        cursor: pointer;
        }
      }
    }

  button{
    font-size: 1.1rem;
    margin-top:1.5rem;
    padding:0.5rem;
    align-self: center;
    width:8rem;
  }
}



