aside{
  background-color: rgb(222, 224, 221);
  padding: 0.5rem 1.2rem 2rem;
  color:rgb(113, 131, 109);
  display:flex;
  flex-direction: column;

  h2{
    margin:1.5rem 0 2rem;
    color:rgb(87, 97, 85);
    font-size: 1.5rem;
  }

  form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .searchDiv{
      flex-direction: row;
      width:100%;

      .searchInput{
        height: 1.5rem;
        margin-bottom: 1rem;
        width: 100%;
      }

      #searchButton{
        font-size: 0.8rem;
        margin: 0 0 1rem;
        padding: 0.5rem;
        width:30%;
        box-sizing: border-box;
      }
    }

    .filterDiv{
      flex-direction:row-reverse;
      justify-content: left;

      .filterInput{
        cursor:pointer;
      }
    }

    div{
      display:flex;
      margin-top: 0.5rem;
    }
  }

  .resetBtn{
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}




