<form id="userForm" [formGroup]="userForm" (submit)="handleForm()" enctype="multipart/form-data">
	<h3>Your Information</h3>

	<label>Company ID</label>
	<input type="number" formControlName="companyId" placeholder="123">
	<div *ngIf="companyId?.touched&&companyId?.invalid" class="formErrorMsg">Mandatory</div>

	<label>Firstame</label>
	<input type="text" formControlName="firstname" placeholder="John">
	<div *ngIf="firstname?.touched&&firstname?.invalid" class="formErrorMsg">Mandatory</div>

	<label>Lastname</label>
	<input type="text" formControlName="lastname" placeholder="Doe">

	<label>Payment</label>
	<select formControlName="paymentMethod">
		<option value="" id="selectPlaceholder">-- Choose payment method --</option>
		<option>Klarna</option>
		<option>MasterCard</option>
		<option>PayPal</option>
	</select>

	<button type="submit" form="userForm" [disabled]="userForm.invalid" [contentEditable]="userForm.valid">Place Order</button>
</form>