#shoppingCart{
    width:55vw;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:1.5rem;
    width:100%;
    margin:0;
    padding:0;

    li{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        margin-bottom: 1rem;
        background-color: rgb(222, 224, 221);
        box-sizing: border-box;
        padding:0.8rem;
        width:45%;

        .cartImg{
            width:3.5rem;
            grid-column: 1;
            grid-row: 1 /span 3;
        }

        h3{
            font-size: 0.8rem;
            grid-column: 2 /span 5;
            grid-row: 1;
            margin:0;
        }

        p{
            align-self: flex-start;
            margin-top: 0;
            font-size: 0.75rem;
            grid-column: 2 /span 2;
            grid-row: 2;
        }

        button{
            grid-column: 6;
            grid-row: 2;
            height:2rem;
            padding: 0.2rem 0.4rem;
            align-self: flex-end;
        }
    }
}

