button{
  padding:0.2rem 0.4rem;
  margin-left:0.2rem;
}

h2{
  margin:0;
  color:rgb(87, 97, 85);

  &:last-of-type{
    margin-bottom:0.5rem;
  }
}

h3{
  color:rgb(87, 97, 85);
  margin-bottom:0.4rem;
  margin-top:1rem;

  &:last-of-type{
    margin-top:1.5rem;
  }
}

div{
  background-color: rgb(222, 224, 221);
  box-sizing: border-box;

  &:first-child{
    padding:2rem 1.2rem 1.5rem;
  }

  &:last-child{
    padding: 0.5rem 1.2rem 2rem;
  }

  ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;

    li{
      display: flex;
      flex-direction: row;
      color:rgb(113, 131, 109);

      label{
        order:1;
      }

      input{
        order:0;
        cursor: pointer;
        }
      }
    }

  #resetFilter{
    font-size: 1.1rem;
    margin-top:1.5rem;
  }
}



