<form id="userForm" [formGroup]="userForm" (submit)="handleChange(userForm)">
    <h3>Your Information</h3>

    <label>Company ID</label>
    <input type="number" formControlName="companyId" placeholder="1234"> 

    <label>Full name</label>
    <input type="text" formControlName="createdBy" placeholder="John Doe">

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="johnDoe@example.com">

    <label>Payment</label>
    <select formControlName="payment">
        <option>Klarna</option>
        <option>MasterCard</option>
        <option>PayPal</option>
    </select>

    <button type="submit">Place Order</button>
</form>

