<form id="userForm">
    <h3>Your Information</h3>

    <label>Firstname</label>
    <input type="text" placeholder="John">

    <label>Lastname</label>
    <input type="text" placeholder="Doe">

    <label>Adress</label>
    <input type="text" placeholder="Sesame Street 123">

    <label>Postal Code</label>
    <input type="number" placeholder="123 45">

    <label>City</label>
    <input type="text" placeholder="Gotham City">

    <label>Email</label>
    <input type="text" placeholder="johnDoe@example.com">

    <button type="submit">Place Order</button>
</form>
