div{
    box-sizing: border-box;
    padding:0.4rem 3rem;
    width:100vw;
    display:flex;
    justify-content: flex-end;
    background-color:rgb(72, 80, 71);
    color:white;
    column-gap: 0.4rem;
}